@charset "utf-8";
@import url("./reset.css");

/* 공통영역 */
body {
  height: 10000px;
  font-family: "SuisseIntl", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.014rem;
  color: #fff;
  background-color: black;
}
section {
  width: 100%;
}
.con {
  /* 1823 */
  width: 96%;
  height: auto;
  margin: 0 auto;
}
/* 헤더 */
header {
  /* background-color: aliceblue; */
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header .con {
  /* background-color: yellowgreen; */
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  margin: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
/* 로고 */
h1 span {
  text-transform: capitalize;
}
/* 💡로고이미지-스크롤 내리면 span대신 img로 바뀜 */
h1 img {
  width: 68px;
  display: none;
}
/* 메뉴 */
#gnb > ul {
  display: flex;
  margin-left: 9.5vw;
  text-transform: capitalize;
}
#gnb > ul > li {
  transition: 0.3s;
}
#gnb > ul > li > a {
  /* background-color: yellowgreen; */
  box-sizing: border-box;
  padding: 0 3px;
}
#gnb > ul > li > div {
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
/* 💡나중에 제이쿼리로 마우스 아웃효과 적용해보기 */
#gnb > ul > li:hover > div {
  width: 100%;
}
#gnb > ul > li:first-child > a {
  color: #696969;
  font-weight: 700;
}
/* 모바일메뉴 */
#mobile_menu {
  display: none;
}
.btn_talk .off {
  display: none;
}
.btn_talk:hover .off {
  display: block;
}
.btn_talk:hover .on {
  display: none;
}
/* 더보기아이콘 */
.btn_talk i {
  transform: rotate(45deg) scale(1.1);
}

/* 메인 */
main {
  position: relative;
  top: 62px;
  left: 0;
}
/* 메인비주얼 */
.main_visual .con {
  width: 100%;
}
.main_visual .logo_wrap {
  width: 96%;
  margin: 0 auto;
}
/* 로고 및 텍스트 */
.logo_wrap > div:first-child {
  margin-top: 18px;
}
/* 💡로고 떨어질때 샤라락 */
.logo_wrap > div:first-child > img {
  transition: 0.3s;
}
.text_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 496px;
  box-sizing: border-box;
  padding-bottom: 34px;
}
.text_wrap > div:first-child {
  display: flex;
  gap: 66px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: -0.016rem;
}
.text_wrap > div:last-child > i {
  display: block;
  box-sizing: border-box;
  padding-top: 16px;
}
/* 동영상 */
.main_visual .main_video > div {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
.main_video > div > video {
  position: absolute;
  top: 0;
  left: 0;
}
.main_video > div > h2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 62px;
  font-weight: 300;
  letter-spacing: -0.093rem;
}
.main_video > div > h2::after {
  content: "line";
  font-size: 0;
  background-color: #fff;
  display: block;
  width: 100%;
  height: 2px;
  transform: scale(0);
  transform-origin: left;
  transition: 0.5s;
}
.main_video > div > h2:hover::after {
  transform: scale(1);
}
/* 💡마우스무브이벤트+클릭하면 라이트박스 */

/* 섹션2 */
.sec2 > .con > div {
  box-sizing: border-box;
  padding: 60px 0;
}
.sec2 > .con > div > p {
  width: 100%;
  font-size: 82px;
  font-weight: 300;
  letter-spacing: -0.22rem;
}
.sec2 > .con > div > p:first-child {
  text-align: right;
}
.sec2 a {
  position: relative;
  top: 0;
  left: 0;
}
.sec2 a > span {
  display: inline-block;
  line-height: 0.86;
  position: absolute;
  top: 23px;
  left: 10px;
}
/* 💡라인2개로 해보기 */
.sec2 a > span::after {
  content: "line1";
  font-size: 0;
  display: block;
  background-color: #fff;
  width: 429px;
  height: 1px;
  margin-top: 10px;
  transform: scale(0);
  transition: 0.3s;
  transform-origin: left;
}
.sec2 a > span:hover::after {
  transform: scale(1);
}
