@charset "utf-8";
@import url("./reset.css");

/* 공통영역 */
body {
  font-family: "SuisseIntl", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.14;
  letter-spacing: -0.014rem;
  color: #fff;
  background-color: black;
}
section {
  width: 100%;
}
.con {
  /* 1823 */
  width: 96%;
  height: auto;
  margin: 0 40px;
}
/* 헤더 */
header {
  /* background-color: aliceblue; */
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header .con {
  /* background-color: yellowgreen; */
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  margin: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-weight: 400;
}
/* 로고 */
h1 span {
  text-transform: capitalize;
}
/* 💡로고이미지-스크롤 내리면 span대신 img로 바뀜 */
h1 img {
  width: 68px;
  display: none;
}
/* 메뉴 */
#gnb > ul {
  display: flex;
  margin-left: 26vw;
  text-transform: capitalize;
}
#gnb > ul > li {
  transition: 0.3s;
}
#gnb > ul > li > a {
  /* background-color: yellowgreen; */
  box-sizing: border-box;
  padding: 0 3px;
}
#gnb > ul > li > div {
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
/* 💡나중에 제이쿼리로 마우스 아웃효과 적용해보기 */
#gnb > ul > li:hover > div {
  width: 100%;
}
#gnb > ul > li:first-child > a {
  color: #696969;
  font-weight: 700;
}
/* 모바일메뉴 */
#mobile_menu {
  transform: scale(0);
}
/* 더보기 */
.btn_talk {
  width: 74px;
  height: 18px;
  overflow: hidden;
  transition: 0.5s;
  transform-origin: left;

  /* background-color: violet; */
}
.btn_talk a {
  display: flex;
  width: max-content;
  transform: translateX(-14px);
  transition: 0.5s;
  transform-origin: left;
  gap: 3px;
}
.btn_talk::after {
  content: "line";
  font-size: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.5s;
  transform-origin: left;
}
.btn_talk:hover::after {
  width: 74px;
}
.btn_talk i {
  transition: 0.5s;
}
.btn_talk:hover a {
  transform: translateX(0);
}
.btn_talk .btn_learn i {
  transition: 0.5s;
}
.btn_talk .btn_learn i.on {
  transform: translatey(10px) rotate(45deg);
}
.btn_talk .btn_learn i.off {
  transform: translatey(4px) rotate(45deg);
}
.btn_talk .btn_learn:hover i.off {
  transform: translatey(-10px) rotate(45deg);
}
.btn_talk .btn_learn:hover i.on {
  transform: translatey(1px) rotate(45deg);
}

/* 더보기아이콘 */
.xi-arrow-up {
  transform: rotate(45deg) scale(1.1);
}

/* 메인 */
main {
  position: relative;
  top: 62px;
  left: 0;
}
/* 메인비주얼 */

/* 로고 및 텍스트 */
.main_visual .logo_wrap {
  width: 96%;
  margin: 0 auto;
}
.logo_wrap > div:first-child {
  margin-top: 18px;
}
/* 💡로고 떨어질때 샤라락 - 하나씩 잘라써도되는지 */
.logo_wrap > div:first-child > img {
  transition: 0.3s;
}
.text_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 496px;
  box-sizing: border-box;
  padding-bottom: 34px;
}
.text_wrap > div:first-child {
  display: flex;
  gap: 66px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.016rem;
}
.text_wrap > div:last-child > i {
  display: block;
  box-sizing: border-box;
  padding-top: 16px;
}
/* 동영상 */
.main_video > div {
  width: 100%;
  height: 1040px;
  position: relative;
  top: 0;
  left: 0;
  /* overflow: hidden; */
  cursor: pointer;
}
.main_video > div > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.main_video > div > h2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-size: 62px;
  letter-spacing: -0.093rem;
}
.main_video > div > h2::after {
  content: "line";
  font-size: 0;
  background-color: #fff;
  display: block;
  width: 100%;
  height: 2px;
  transform: scale(0);
  transform-origin: left;
  transition: 0.5s;
}
.main_video > div > h2:hover::after {
  transform: scale(1);
}
/* 💡마우스무브이벤트 */
.main_video .play {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  font-size: 16px;
}
.main_video .play span {
  font-size: 10px;
  line-height: 16px;
}
.main_video .sec1_lightbox {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main_video .sec1_lightbox video {
  width: 88%;
  height: 88%;
  margin: 16px 114px;
  padding-top: 44px;
}
/* 섹션2 */
.sec2 > .con > div {
  box-sizing: border-box;
  padding: 60px 0;
  border-bottom: 1px solid #ffffff34;
}
.sec2 > .con > div > p {
  width: 100%;
  font-size: 82px;
  letter-spacing: -0.22rem;
  word-spacing: 8px;
}
.sec2 > .con > div > p:first-child {
  text-align: right;
}
.sec2 a {
  position: relative;
  top: 0;
  left: 0;
}
.sec2 a > span {
  display: inline-block;
  line-height: 0.86;
  position: absolute;
  top: 10px;
  left: 14px;
  overflow: hidden;
}
/* 💡라인2개로 해보기 */
.sec2 a > span::before {
  content: "line1";
  font-size: 0;
  display: block;
  background-color: #fff;
  width: 200px;
  height: 5px;
  margin-top: 10px;
  transform: translate(-446px, 86px);
  transition: 0.5s;
  transform-origin: left;
}
.sec2 a > span:hover::before {
  width: 429px;
  transform: translate(0, 86px);
}
.sec2 a > span::after {
  content: "line1";
  font-size: 0;
  display: block;
  background-color: #fff;
  width: 429px;
  height: 3px;
  margin-top: 10px;
  transition: 0.5s;
  transform-origin: left;
}
.sec2 a > span:hover::after {
  width: 429px;
  transform: translateX(434px);
}

/* 섹션3 */
.sec3 > .con > div {
  display: flex;
  font-size: 20px;
  box-sizing: border-box;
  padding-top: 23px;
}
.sec3 .left_txt {
  width: 50%;
}
.sec3 .right_txt {
  width: 50%;
}
/* 💡글자까지만 밑줄나오게 */
.sec3 .right_txt .btn_learn {
  width: 130px;
  height: 24px;
  overflow: hidden;
}
.btn_learn::after {
  content: "line";
  font-size: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: 0.5s;
  transform-origin: left;
}
.btn_learn:hover::after {
  width: 130px;
}
.btn_learn a {
  display: flex;
  width: max-content;
  transform: translateX(-20px);
  transition: 0.5s;
  transform-origin: left;
  gap: 3px;
}
.btn_learn:hover a {
  transform: translateX(0);
}
.btn_learn i {
  transition: 0.5s;
}
.btn_learn i.on {
  transform: translatey(10px) rotate(45deg);
}
.btn_learn i.off {
  transform: translatey(4px) rotate(45deg);
}
.btn_learn:hover i.off {
  transform: translatey(-10px) rotate(45deg);
}
.btn_learn:hover i.on {
  transform: translatey(1px) rotate(45deg);
}

/* 섹션4 */
.sec4 .highlights {
  box-sizing: border-box;
  padding-top: 300px;
  padding-bottom: 220px;
}
.sec4 .highlights > div:first-child {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 2.4;
}
.btn_see {
  width: 142px;
  height: 44px;
  overflow: hidden;
}
.btn_see a {
  display: flex;
  width: max-content;
  transform: translateX(-20px);
  transition: 0.5s;
  transform-origin: left;
  gap: 3px;
}
.btn_see:hover a {
  transform: translateX(0);
}
.btn_see i {
  transition: 0.5s;
}
.btn_see i.on {
  transform: translate(-16px, 20px) rotate(45deg);
}
.btn_see i.off {
  transform: translate(-8px, 12px) rotate(45deg);
}
.btn_see:hover i.on {
  transform: translate(-8px, 10px) rotate(45deg);
}
.btn_see:hover i.off {
  transform: translatey(-10px) rotate(45deg);
}
/* 동영상 */
/* 큰 이미지 */
.sec4 .img_lg {
  width: 100%;
  height: 1170px;
  position: relative;
  top: 0;
  left: 0;
}
.sec4 .img_lg > img:first-of-type {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}
.sec4 .img_lg > img:nth-of-type(2) {
  width: 156px;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.sec4 .hover_area {
  width: 80%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  cursor: pointer;
}
/* 호버이미지 동영상박스 */
.sec4 .img_lg > .hover_img_lg {
  width: 404px;
  height: 538px;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.sec4 .img_lg > .hover_img_lg > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 4px;
}
/* 작은 이미지 */
.img_sm {
  width: 100%;
  height: 1170px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  font-weight: 400;
}
.img_sm-l,
.img_sm-r {
  width: 50%;
  height: 100%;
  object-fit: contain;
  position: relative;
  cursor: pointer;
}
/* 왼쪽 */
.img_sm-l > img:first-child {
  position: absolute;
}
.img_sm-l > img:nth-of-type(2) {
  width: 92px;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}
.img_sm-l .hover_area-l {
  width: 80%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}
.img_sm-l .hover_img_sm-l {
  width: 346px;
  height: 484px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.img_sm-l .hover_img_sm-l video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 4px;
}
/* 오른쪽 */
.img_sm-r > img:first-child {
  position: absolute;
}
.img_sm-r > img:nth-of-type(2) {
  width: 92px;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}
.img_sm-r .hover_img_sm-r {
  width: 346px;
  height: 484px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.img_sm-r .hover_img_sm-r video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 4px;
}

/* 섹션5 */
.sec5,
.sec6,
.sec7,
.sec8,
.sec9 {
  background-color: #fff;
}
.sec5 .con {
  box-sizing: border-box;
  padding: 200px 0;
  background-color: #fff;
  border-bottom: 1px solid #696969;
}
.sec5 .logo_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_con > li {
  width: 8%;
  height: 26px;
}
.logo_con > li > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 섹션6 */
.sec6 .con {
  margin: 0 auto;
  padding-bottom: 120px;
  background-color: #fff;
}
.sec6 .con > div:first-child {
  color: #000;
  font-size: 20px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 26px;
}
/* 슬라이드 */
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 섹션7 */
.sec7 .con {
  background-color: #fff;
  margin: 0 auto;
  color: #000;
  padding-bottom: 100px;
}
.sec7 .con h2 {
  font-size: 62px;
  padding-bottom: 40px;
}
.sec7 .con > div > div {
  padding-top: 23px;
  display: flex;
  font-size: 20px;
  border-top: 1px solid #696969;
}
.sec7 .con > div > div:first-child {
  margin-bottom: 33px;
}
.sec7 .con > div > div > h3 {
  width: 50%;
}
.sec7 .con > div > div > p {
  width: 20%;
}

/* 섹션8 */
/* gsap쓰기 */
.sec8 .con {
  margin: 0 auto;
}
.sec8 .con > div {
  width: 100%;
  height: 100%;
}
.sec8 .con > div video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 섹션9 */
.sec9 .con {
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec9 .txt_wrap {
  width: 414px;
  height: 76px;
  position: relative;
  top: 0;
  left: 0;
  margin: 270px 0;
  overflow: hidden;
  background-color: rosybrown;
}
.sec9 .txt_wrap::after {
  content: "line";
  font-size: 0;
  display: block;
  background-color: #000;
  width: 100%;
  height: 3px;
  margin-top: 70px;
}
.sec9 .get_us,
.sec9 .about_us {
  font-size: 62px;
  color: #000;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.sec9 .con .about_us {
  display: none;
}
/* 글자 올라가기 */
.sec9 .txt_wrap .get_us div {
  transition: 0.5s;
}
.sec9 .txt_wrap:hover .get_us div:nth-child(1),
.sec9 .txt_wrap:hover .get_us div:nth-child(2),
.sec9 .txt_wrap:hover .get_us div:nth-child(3) {
  /* transform: translateY(-100px); */
  transition-delay: 0.04s;
  top: -20px;
}
/* .sec9 .txt_wrap:hover .get_us div:nth-child(4),
.sec9 .txt_wrap:hover .get_us div:nth-child(5),
.sec9 .txt_wrap:hover .get_us div:nth-child(6),
.sec9 .txt_wrap:hover .get_us div:nth-child(7),
.sec9 .txt_wrap:hover .get_us div:nth-child(8),
.sec9 .txt_wrap:hover .get_us div:nth-child(9) {
  transform: translateY(-100px);
  transition-delay: 0.08s;
}
.sec9 .txt_wrap:hover .get_us div:nth-child(10),
.sec9 .txt_wrap:hover .get_us div:nth-child(11) {
  transform: translateY(-100px);
  transition-delay: 0.1s;
} */
