@media screen and (min-width: 540px) and (max-width: 767px) {
  .card1 {
    height: clamp(386px, calc((100vw - 540px) * 0.718 + 386px), 549px);
  }
  .card1 .text p {
    font-size: 3.8vw;
  }
  .card2 {
    height: clamp(249px, calc((100vw - 540px) * 0.467 + 249px), 355px);
  }
  .card2 .logos {
    height: 3.7vh;
  }
  .card2 .logos img {
    padding-top: 12px;
  }
  .card2 .logos img:nth-child(2) {
    padding-top: 0px;
  }
  @keyframes rolling {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15vh);
    }
  }
  .card3 {
    height: clamp(386px, calc((100vw - 540px) * 0.718 + 386px), 549px);
  }
  .card4 {
    height: clamp(249px, calc((100vw - 540px) * 0.467 + 249px), 355px);
  }
  .card5 {
    height: clamp(249px, calc((100vw - 540px) * 0.467 + 249px), 355px);
  }
  .card6 {
    height: clamp(338px, calc((100vw - 540px) * 0.625 + 338px), 480px);
  }
  .card7 {
    height: clamp(249px, calc((100vw - 540px) * 0.467 + 249px), 355px);
  }
  .bottom_con img {
    height: 1.6vh;
  }
  .card8 {
    height: clamp(386px, calc((100vw - 540px) * 0.718 + 386px), 549px);
  }
  .hour.us {
    height: 24px;
    top: 10vh;
  }
  .hour.fr {
    height: 24px;
    top: 15.4vh;
    left: -4vw;
  }
  .center_circle {
    width: 5vw;
    height: 3.4vh;
    top: 17.5vh;
  }
  .card9 {
    height: clamp(249px, calc((100vw - 540px) * 0.467 + 249px), 355px);
  }
  .swiper-slide > div {
    height: 100%;
  }
}
